#controls{
    display: block;
    margin: 0px;
    background-image: url(../../resources/c.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 190vh;
    z-index: 1;

}

@media screen and (max-width: 1056px) {
    #controls{
        width: 100%;

    }

    #paperStyle{

    }

    #club{
        height: 20px;
    }


}